<?xml version="1.0" encoding="utf-8"?>
<GNSS>
	<PROPERTY NAME="CHIP-MODULE" VALUE="GREENEYE2"/>
	<PROPERTY NAME="GPS-IMG-MODE" VALUE="GNSSMODEM"/>
	<PROPERTY NAME="GE2-VERSION" VALUE="v1.0.0"/>
	<PROPERTY NAME="SPREADORBIT-ENABLE" VALUE="TRUE"/>
	<PROPERTY NAME="CP-MODE" VALUE="101"/>
	<PROPERTY NAME="CHIP-ID" VALUE="SP12"/>
	<PROPERTY NAME="OUTPUT-PROTOCOL" VALUE="0011"/>
	<PROPERTY NAME="LOG-ENABLE" VALUE="FALSE"/>
	<PROPERTY NAME="UART-NAME" VALUE="/dev/ttyS3"/>
	<PROPERTY NAME="UART-SPEED" VALUE="3000000"/>
	<PROPERTY NAME="DEBUG-ENABLE" VALUE="TRUE"/>
	<PROPERTY NAME="POST-ENABLE" VALUE="FALSE"/>
	<PROPERTY NAME="APWDG-ENABLE" VALUE="TRUE"/>
	<PROPERTY NAME="REALEPH-ENABLE" VALUE="FALSE"/>
	<PROPERTY NAME="SLEEP-ENABLE" VALUE="TRUE"/>
	<PROPERTY NAME="SLEEP-TIMER" VALUE="300"/>
	<PROPERTY NAME="STOP-TIMER" VALUE="1"/>
	<PROPERTY NAME="CMCC-ENABLE" VALUE="TRUE"/>
	<PROPERTY NAME="TSX-ENABLE" VALUE="FALSE"/>
	<PROPERTY NAME="RF-TOOL" VALUE="FALSE"/>
	<PROPERTY NAME="SUPL-PATH" VALUE="/system/etc/supl.xml"/>
	<PROPERTY NAME="NOKIA-EE" VALUE="FALSE"/>
	<PROPERTY NAME="FLOAT-CN0" VALUE="FALSE"/>
	<PROPERTY NAME="BASEBAND-MODE" VALUE="FALSE"/>
</GNSS>
