# Project configuration for CC63s SecureBoot Utils project
PROJ_NAME = cc63s-sbrom
PROJ_REV = $(strip $(subst $$Rev:,,$$Rev: 162 $))
PROJ_TYPE = UTILS

# List of targets to build for utils/src
PROJ_TARGETS = secure_boot_utils secure_debug_utils

#ROM verion and identifier
ROM_VERSION_MAJOR = 1
ROM_VERSION_MINOR = 0
ROM_VERSION_PATCH = 0
ROM_VERSION_TAG = 1 

CERT_ENDIANITY = 0
RSA_ALGORITHM = 1
CERT_VERSION_MAJOR = 1
CERT_VERSION_MINOR = 0
NUM_OF_REVOCATION_COUNTERS_SUPPORT = 2
DX_CONFIG_SB_CERT_SUPPORTED = 0


